<!-- <p>
  view-user works!
</p> -->
<div class="container-fluid">

  <div class="row">
    <div class="col-6">
      <div class="list-group">
        <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let user of users">
          <!-- <a class="list-group-item " *ngFor="let user of users"> -->
          <div class="container-fluid additional-margin">
            <div class="row">
              <div class="w-75">
                <h5>{{user.FirstName}}</h5>
              </div>
              <div class="w-25">
                <button class="btn btn-primary" (click)="onEditUser(user)">Edit</button>
              </div>
            </div>
          </div>

          <div class="container-fluid additional-margin">
            <div class="row">
              <div class="w-75">
                <h5>{{user.LastName}}</h5>
              </div>
              <div class="w-25">
                <button class="btn btn-primary" (click)="onDeleteUser(user)">Delete</button>
              </div>
            </div>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="w-75">
                <h5>{{user.EmployeeId}}</h5>
              </div>
            </div>
          </div>
          <!-- <hr> -->
        </a>
      </div>
    </div>
  </div>
</div>
