<!-- <nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="navbar-item">
      <a routerlink="" class="nav-link">View Tasks</a>
    </li>
    <li class="navbar-item">
      <a routerlink="" class="nav-link">Add Tasks</a>
      <li></li>
  </ul>
</nav> -->




<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link secondary" routerLink="/ViewTask">View Task</a>
    </li>
    <li class="nav-item">
        <a class="nav-link secondary" routerLink="/AddTask">Add Task</a>
      </li>
    <!-- <li class="nav-item">
      <a class="nav-link"  routerlink="">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerlink="">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link secondary" href="#">Disabled</a>
    </li> -->
  </ul>

<router-outlet></router-outlet>