<form [formGroup]="myform" (ngSubmit)="OnAddTask()">
  <div class="container-fluid">
    <div class="row">
      <div class="form-group form-md-12">
        <label for="taskInput">Task: </label>
        <input id="taskInput" type="text" placeholder="Task Description" class="form-control" [formControl]="taskName" />
      </div>
    </div>
    <div class="row">
      <div class="form-group form-md-12" >
      <!-- <div class="form-md-12 form-group"> -->
        <label for="taskPriority"> Priority: </label>
        <!-- <input type="range" id="taskPriority" min="{{priorityMin}}" max="{{priorityMax}}" [value]="priority" /> -->
        <!-- <div class="form-inline">
        <span>1</span> -->
        <input type="range" id="taskPriority" min="{{priorityMin}}" max="{{priorityMax}}" value="30" class="form-control-range" [formControl]="priority"/>
        <!-- <span>30</span>
      </div> -->
      </div>
    </div>
    <div class="row">
        <div class="form-group form-md-12" >
      <label for="parentTask">Parent Task: </label>
      <select class="form-control" id="parentTask" [formControl]="parentTask">
        <option value="">--Select--</option>
        <option *ngFor="let paretnTask of ParentTasks" [ngValue]="paretnTask.ParentTaskId">{{paretnTask.Parent_Task}}</option>
      </select>
      </div>
    </div>

    <form [formGroup]="dateFormGroup">
    <div class="row">
      <div class="form-group" >
      <label for="startDate">Start Date: </label>
      <input type="date" id="startDate" class="form-control" placeholder="Start Date" [formControl]="startDate" />
      <div *ngIf="startDate.invalid && startDate.dirty" class="alert alert-danger">
          Start Date is Invalid
      </div>
    </div>
    </div>

    <div class="row">
        <div class="form-group" >
      <label for="endDate">End Date: </label>
      <input type="date" id="endDate" class="form-control" placeholder="End Date" [formControl]="endDate"/>
      <div *ngIf="endDate.invalid && endDate.dirty" class="alert alert-danger">
          End Date is Invalid
      </div>
      </div>
    </div>

    <div class="row">
        <div *ngIf="dateFormGroup.invalid && dateFormGroup.dirty" class="alert alert-danger">
            To Date must e greater than Start Date
        </div>
    </div>
  </form>

    <div class="row">
      <button class="btn-primary" type="submit" value="Add Task">Add Task</button>
      <button class="btn-primary" value="Reset" type="reset">Reset</button>
    </div>

  </div>
</form>

